.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
}

.banner p {
  font-size: 24px;
  padding-bottom: 15px;
}

.btn-blue {
  font-size: 16px;
  font-family: 'Fira Sans', sans-serif;
  color: rgb(255, 242, 0);
  padding: 15px 25px;
  border-radius: 25px;
  font-weight: bold;
  background: #1a1e95;
  transition: 0.3s ease;
}
.btn-blue:hover {
  opacity: 1;
  background: #111465;
  text-decoration: none;
  color: rgb(255, 242, 0);
}
.container {
  text-align: center;
}
